.config-nav-block.blackbird-tab strong:before {
    background: url(../images/logo.svg) no-repeat center;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
    mix-blend-mode: difference;
    filter: invert(1);
}

.admin__menu [data-ui-id^="menu-blackbird"]:not([data-ui-id^="menu-blackbird-contentmanager"]) span:before,
.admin__menu .level-1[data-ui-id^="menu-blackbird-contentmanager"] strong span:before {
    background: url(../images/logo.svg) no-repeat center;
    background-size: cover;
    width: 1.6rem;
    height: 1.6rem;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
    mix-blend-mode: difference;
    filter: invert(1);
}
