<?xml version="1.0"?>
<!--
  ~  Blackbird Extensions Core
  ~
  ~  NOTICE OF LICENSE
  ~  If you did not receive a copy of the license and are unable to
  ~  obtain it through the world-wide-web, please send an email
  ~  to support@bird.eu so we can send you a copy immediately.
  ~
  ~  @category        Blackbird
  ~  @package         Blackbird_ExtensionsCore
  ~  @copyright       Copyright (c) Blackbird (https://black.bird.eu)
  ~  @author          Thibaud Ritzenthaler (hello@bird.eu)
  ~  @license         MIT
  ~  @support         https://github.com/blackbird-agency/extension-core/issues/new
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <tab id="blackbird_extensions" translate="label" class="blackbird-tab" sortOrder="400">
        <label>Blackbird Extensions</label>
    </tab>
    <section id="blackbird_extensions" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>Blackbird Extensions</label>
        <tab>blackbird_extensions</tab>
        <resource>Blackbird_Backend::extensions</resource>
    </section>
</system>
</config>

